@model RollerTest.WebUI.Models.ProjectListViewModel


@{
    ViewBag.Title = "Inbox";
}

<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-3">
            @{ Html.RenderPartial("ProjectMenu",Model);}
        </div>
        <div class="col-lg-9 animated fadeInRight">

            <div class="row">
                <div class="col-lg-12">
                    <p>点击项目名，编写项目内容。</p>
                </div>
            </div>

        </div>
    </div>
</div>






