
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div>
<a class="btn btn-block btn-primary compose-mail" href="~/TestBlock/BeforeTestInfo">试验前性能</a>
    </div>
<br/><br />
<div>
    <a class="btn btn-block btn-primary compose-mail" href="~/TestBlock/TestingInfo">试验中性能</a>
</div>
<br /><br />
<div>
    <a class="btn btn-block btn-primary compose-mail" href="~/TestBlock/AfterTestingInfo">试验后性能</a>
</div>