@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>开始编制测试程序</h1>
    <p class="lead">该框架用于中心实验室测试程序开发.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">了解更多 &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>起步</h2>
        <p>
            中心实验室主要业务集中在电梯及扶梯的测试工作，保障电梯及扶梯的正常运行。
            中心实验室在自动化测试方向进行尝试，致力于打造一个集成各项试验的自动化测试系统。
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>发展</h2>
        <p>了解与学习电梯测试业务，熟悉测试技巧，理解编程思想，掌握编程技巧。</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">了解更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>展望</h2>
        <p>打造一套自动化测试集成系统。</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">了解更多 &raquo;</a></p>
    </div>
</div>